html {
    font-size: 16px;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.dialog-title {
    padding-left: 0 !important;
}

.items-label {
    color: rgba(0, 0, 0, 0.5);
    font-size: .75rem;
    font-weight: 400;
}

.list-group {
    display: flex;
}

.list-group > ul:first-child {
    margin-right: 20px;
}

.list-item {
    background-color: pink;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* .list-item-body {
    backgroun-color: green
} */

.divider {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.list-item-body > ul {
    list-style-type: none;
    padding-left: 0;
    width: 200px;
}

.list-item-body ol {
    /* list-style-type: none; */
    /* padding-top: 15px; */
    padding-left: 16px;
}

.list-item-body > ul li:first-child {
    font-weight: 600;
    margin-bottom: 5px;
}

.list-item-body > ul li:nth-child(n+2) {
    color: gray;
}

.select-option-li {
    color: gray;
}

.select-option-li:first-child {
    margin-top: 5px;
}

.btn-group {
    height: 77px;
    /* background-color: red; */
}

.btn-group > button:first-child {
    margin-bottom: 7px;
}

.btn-group > button {
    float: right;
}



