html {
    font-size: 16px;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.dialog-title {
    padding-left: 0 !important;
}

.items-label {
    color: rgba(0, 0, 0, 0.5);
    font-size: .75rem;
    font-weight: 400;
}

.list-item {
    background-color: pink;
    margin-bottom: 10px;
}

.list-item > ul {
    list-style-type: none;
    padding-left: 0;
    width: 385px;
}

.list-item > ul li:first-child {
    font-weight: 600;
    margin-bottom: 5px;
}

.list-item > ul li:nth-child(n+2) {
    color: gray;
}

.btn-group {
    height: 77px;
}

.btn-group > button:first-child {
    margin-bottom: 7px;
}

.btn-group > button {
    float: right;
    width: 80px;
}

